/AG.class
/priorityScheduling.class
/shortestJobFirst.class
/shortestRemiainingTimeFirst.class
/Process.class
/The_Comparator.class
/Main.class
/scheduling.class
/shortestRemainingTimeFirst.class
/MyComparator.class
/Process1.class
/process.class
/SFJprocess.class
/priority_process.class
/AGprocess.class
/SRTFprocess.class
/SJFprocess.class
/sortByAG.class
